<body>
    <div class="titulo">
        <p>Nombre</p>
    </div>
        <div class="datos">
            <p>{{ nombre }}</p>
        </div>
    <div class="titulo">
        <p>Apellidos</p>
    </div>
        <div class="datos">
            <p>{{ apellidos }}</p>
        </div>    
    <div class="titulo">
        <p>Nombre de usuario</p>
    </div>
        <div class="datos">
            <p>{{ nombreUsuario }}</p>
        </div>
            
        <div class="cerrarSesion-container">
            <div class="cerrarSesion">
                <button (click)="cerrarSesion()">Cerrar Sesión</button>
            </div>
        </div>
        
</body>