<body>
    <div class="formularioRegistro">
        <img src="https://beeimg.com/images/i73928048674.png" alt="Logo de mi aplicación">
        
        <div class="formulario">
            <div class="columna1">
                <label class="labelFormularioRegistro">Nombre:</label>
                <input type="text" class="cuadroFormularioRegistro">
            
                <label class="labelFormularioGasto">Nombre de usuario:</label>
                <input type="text" class="cuadroFormularioRegistro">
            
                <label class="labelFormularioGasto">Contraseña:</label>
                <input type="password" class="cuadroFormularioRegistro">
            </div>
            
            <div class="columna2">
                <label class="labelFormularioGasto">Apellidos:</label>
                <input type="text" class="cuadroFormularioGasto">

                <label class="labelFormularioGasto">Fecha de nacimiento:</label>
                <input type="date" class="cuadroFormularioGasto">

                <label class="labelFormularioGasto">Repetir Contraseña:</label>
                <input type="password" class="cuadroFormularioRegistro">
            </div>
        </div>
    </div>

    <div class="divboton">
    <button (click)="agregarUsuario()">Registrarse</button>
    </div>
</body>

<footer>
    <div class="center">
    <p>Antonio Estrada Blanco © TelAhorro 2025</p>
    </div>
</footer>