/* Cuerpo */
html, body {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 25px;
    background-color: #F2F2F2;
    padding: 10px;;
}

.titulo {
    margin: 10px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #4A8970;
    flex: 0.5;
}

.titulos {
    display: flex;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.formulario1 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #D1DED9;
    padding: 15px;
}

.labelFormularioNuevaMeta {
    padding-top: 5px;
    margin-bottom: 10px;
}

.cuadroFormularioNuevaMeta {
    border-radius: 20px;
    text-align: left;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-color: #4A8970;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: rgb(241, 241, 241);
}

.botonGuardarMeta {
    border-radius: 9px;
    padding: 5px;
    border: 0px;
    background-color: #4A8970;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.botonGuardarMeta:hover {
    border-radius: 9px;
    padding: 5px;
    border: 0px;
    background-color: #335e4c;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.botonCancelar {
    border-radius: 9px;
    padding: 5px;
    border: 0px;
    background-color: #919191;
    color: white;
    margin-right: 10px;
}

.botonCancelar:hover {
    border-radius: 9px;
    padding: 5px;
    border: 0px;
    background-color: #616161;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}



/* Contenedor de los divs de las metas */
.nuevo-div {
    background-color: #D1DED9;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
  }
  
  .meta h3 {
    font-size: 20px;
    color: black;
    margin-bottom: 5px;
  }
  
  .meta p {
    font-size: 16px;
    color: #3c3c3c;
  }
  
  .barra-progreso progress {
    width: 100%;
    height: 20px;
    margin-top: 5px;
  }
  
  .barra-progreso p {
    font-size: 14px;
    color: 3c3c3c;
  }
  
  /* Botón de eliminar */
  .delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .delete-btn:hover {
    background-color: #e04343;
  }

  .metas {
    display: grid;
    align-content: stretch;
    align-items: baseline;
    grid-template-columns: repeat(2, 1fr);
  }
  