<body>
    <!-- Contenedor principal -->
    <div class="contenedor">
        <!-- Logo de la aplicación -->
        <img class="logo" src="https://beeimg.com/images/i73928048674.png" alt="Logo de mi aplicación">
        
        <!-- Botones de inicio de sesión y registro -->
        <div class="botones">
            <button class="iniciarsesion" routerLink="/login" routerLinkActive="active"> Iniciar Sesión </button>
            <button class="registro" routerLink="/registro" routerLinkActive="active"> Regístrate </button>
        </div>
    </div>

    <!-- Contenedor de texto e imagen -->
    <div class="container">
        <!-- Texto descriptivo de la aplicación -->
        <div class="text">
            <h2>TelAhorro – Tu Software de Gestión Financiera en Línea</h2> 
            <p> TelAhorro es una herramienta web diseñada para ayudar a administrar sus finanzas de manera eficiente. Controla ingresos, gastos y ahorros en un solo lugar, optimizando tu flujo de efectivo y facilitando la toma de decisiones.</p>         
            <p><i class="fa-solid fa-check" style="color: #335e4c;"></i> Registra y categoriza tus transacciones fácilmente</p>
            <p><i class="fa-solid fa-check" style="color: #335e4c;"></i> Establece y alcanza metas de ahorro</p>
            <p><i class="fa-solid fa-check" style="color: #335e4c;"></i> Mantén el control de tu dinero en todo momento</p>      
            <p>¡Simplifica tu gestión financiera con TelAhorro! 🚀</p>
        </div>
        
        <!-- Imagen ilustrativa -->
        <div class="image">
            <img src="https://imgur.com/lzgERfP.png" alt="Imagen ilustrativa de TelAhorro">
        </div>
    </div>
</body>
