
<header>
    <img src="https://beeimg.com/images/i73928048674.png" alt="Logo de mi aplicación">
      <nav [class.open]="menuAbierto" [class.mini]="miniMenu">
        <ul>
          <li>
            <i class="fa-solid fa-credit-card" style="color: #ffffff;"></i>
            <a routerLink="/transacciones">Transacciones
            </a>
          </li>
          <li>
            <i class="fa-solid fa-percent" style="color: #ffffff;"></i> 
            <a routerLink="/ahorros">Ahorros
            </a>
          </li>
          <li>
            <i class="fa-regular fa-circle-user" style="color: #ffffff;"></i>
            <a routerLink="/perfil">Perfil
            </a>
          </li>
        </ul>
      </nav>
    </header>
    
    <footer>
      <p>Antonio Estrada Blanco © TelAhorro 2025</p>  
    </footer>