@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Estilo para el encabezado de la página */
/**
 * @description Estilo general para el encabezado de la página.
 */
header {
    background-image: linear-gradient(to right, #4D8C73, #EEE071);
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-left: 60px;
    font-family: 'Quicksand';
}

/* Estilo para el logo */
/**
 * @description Estilo para el logo de la aplicación.
 */
img {
    height: 80%;
    max-height: 50px;
    width: auto;
    padding-left: 50px;
    margin-left: auto;
    margin-right: 3%;
    object-fit: contain;
}

/* Estilo para los iconos */
/**
 * @description Estilo para los iconos en el menú.
 */
i {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

/* Estilo para el menú lateral desplegado */
/**
 * @description Estilo para el menú lateral cuando está desplegado.
 */
nav {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #4D8C73;
    transition: left 0.3s ease-in-out;
    padding-top: 60px;
}

/* Estilo para el menú lateral cuando está abierto */
/**
 * @description Clase para el menú lateral cuando está abierto.
 */
nav.open {
    left: 0;
}

/* Estilo para la lista del menú */
/**
 * @description Estilo para la lista del menú.
 */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilo para los elementos de la lista del menú */
/**
 * @description Estilo para los elementos de la lista del menú.
 */
li {
    padding: 15px;
    display: flex;
    align-items: left;
}

/* Estilo para los enlaces del menú */
/**
 * @description Estilo para los enlaces del menú.
 */
a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: left;
    gap: 10px;
}

/* Estilo para el menú lateral sin desplegar */
/**
 * @description Estilo para el menú lateral cuando no está desplegado.
 */
nav.mini {
    width: 60px;
    left: 0;
}

/* Estilo para los elementos de la lista del menú lateral sin desplegar */
/**
 * @description Estilo para los elementos de la lista del menú lateral cuando no está desplegado.
 */
nav.mini ul li {
    justify-content: left;
}

/* Estilo para los enlaces del menú lateral sin desplegar */
/**
 * @description Estilo para los enlaces del menú lateral cuando no está desplegado.
 */
nav.mini a {
    justify-content: center;
    font-size: 0;
}

/* Estilo para el logo en el menú lateral sin desplegar */
/**
 * @description Estilo para el logo en el menú lateral cuando no está desplegado.
 */
nav.mini a img {
    width: 30px;
}

/* Estilo para el menú lateral en hover */
/**
 * @description Estilo para el menú lateral cuando está en hover.
 */
nav.mini:hover {
    width: 250px;
}

/* Estilo para los enlaces del menú lateral en hover */
/**
 * @description Estilo para los enlaces del menú lateral cuando está en hover.
 */
nav.mini:hover a {
    font-size: 18px;
    justify-content: start;
}

/* Estilo para el logo en el menú lateral en hover */
/**
 * @description Estilo para el logo en el menú lateral cuando está en hover.
 */
nav.mini:hover a img {
    width: 24px;
}

/* Estilo para el pie de página */
/**
 * @description Estilo general para el pie de página.
 */
footer {
    background-image: linear-gradient(to right, #4D8C73, #EEE071);
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Quicksand';
}
