
<header>
  <img src="https://beeimg.com/images/i73928048674.png" alt="Logo de mi aplicación">
    <nav [class.open]="menuAbierto" [class.mini]="miniMenu">
      <ul>
        <li>
          <i class="fa-solid fa-credit-card"></i>
          <a routerLink="/Transacciones">
            <span>Transacciones</span>
          </a>
        </li>
        <li>
          <i class="fa-solid fa-percent"></i> 
          <a routerLink="/ahorros"> 
            <span>Ahorros</span>
          </a>
        </li>
        <li>
          <i class="fa-solid fa-gear"></i> 
          <a routerLink="/configuracion">
            <span>Configuración</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  
  <footer>
    <p>Antonio Estrada Blanco © TelAhorro 2025</p>  
  </footer>