@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Estilo general para el cuerpo del documento */
/**
 * @description Estilo general para el cuerpo del documento.
 */
html, body {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 25px;
    background-color: #F2F2F2;
    padding: 10px;
    font-family: 'Quicksand';
}

/* Estilo para el contenedor principal */
/**
 * @description Estilo para el contenedor principal de la página.
 */
.contenedor {
    display: flex;
    align-items: center;
}

/* Estilo para el fondo blanco */
/**
 * @description Estilo para el fondo blanco del contenedor.
 */
.fondoBlanco {
    width: 100%;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 25px;
}

/* Estilo para el cuadro verde */
/**
 * @description Estilo para el cuadro verde que muestra el saldo disponible.
 */
.cuadroVerde {
    background-color: #4A8970;
    color: white;
    padding: 10px;
    padding-right: 10%;
    font-size: 25px;
}

/* Estilo para el texto verde */
/**
 * @description Estilo para el texto en color verde.
 */
.verde {
    color: #4A8970;
}

/* Estilo para los botones de ingreso */
/**
 * @description Estilo para los botones de ingreso.
 */
.Ingreso {
    padding: 12px;
    background-color: #4A8970;
    color: white;
    border-radius: 13px;
    border: 0px;
    font-size: 15px;
    margin-bottom: 8px;
    margin-right: 8px;
    font-family: 'Quicksand';
}

/* Estilo para los botones de ingreso en hover */
/**
 * @description Estilo para los botones de ingreso cuando se coloca el ratón sobre ellos.
 */
.Ingreso:hover {
    padding: 12px;
    background-color: #335e4c;
    color: white;
    border-radius: 13px;
    border: 0px;
    margin-bottom: 8px;
    margin-right: 8px;
    cursor: pointer;    
}

/* Estilo para los botones de gasto */
/**
 * @description Estilo para los botones de gasto.
 */
.Gasto {
    padding: 12px;
    background-color: #EEE071;
    border-radius: 13px;
    border: 0px;
    margin-bottom: 8px;
    margin-right: 8px;
    font-size: 15px;
    font-family: 'Quicksand';
}

/* Estilo para los botones de gasto en hover */
/**
 * @description Estilo para los botones de gasto cuando se coloca el ratón sobre ellos.
 */
.Gasto:hover {
    padding: 12px;
    background-color: #ccbb3d;
    border-radius: 13px;
    border: 0px;
    margin-bottom: 8px;
    margin-right: 8px;
    cursor: pointer;
}

/* Estilo para la tabla de transacciones */
/**
 * @description Estilo para la tabla de transacciones.
 */
table {
    width: 100%; /* Ocupa todo el ancho disponible */
    border-collapse: separate; 
    background-color: white;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
}

/* Estilo para las celdas de encabezado de la tabla */
/**
 * @description Estilo para las celdas de encabezado de la tabla.
 */
th {
    border: 2px;
    background-color: #4A8970;
    padding: 10px;
    color: white;
}

/* Estilo para el formulario de ingreso */
/**
 * @description Estilo para el formulario de ingreso.
 */
.tituloFormularioIngreso {
    padding-bottom: 10px;
    font-size: 18px;
    color: #335e4c;
    text-decoration: underline #4D8C73;
}

.formularioIngreso {
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    display: inline-block;
    width: fit-content;
}

/* Estilo para las etiquetas del formulario de ingreso */
/**
 * @description Estilo para las etiquetas del formulario de ingreso.
 */
.labelFormularioIngreso {
    width: min-content;
    height: min-content;
    display: inline-block;
    margin-right: 10px;
    padding-top: 5px;
    margin-bottom: 15px;
}

/* Estilo para los campos del formulario de ingreso */
/**
 * @description Estilo para los campos del formulario de ingreso.
 */
.cuadroFormularioIngreso {
    border-radius: 20px;
    text-align: left;
    padding-left: 5px;
    margin-right: 15px;
    border-color: #4A8970;
    box-shadow: none;
    outline: none;
    border-top: #335e4c;
    border-left: #335e4c;
    border-right: #335e4c;
    background-color: rgb(241, 241, 241);
    font-family: 'Quicksand';
}

/* Estilo para el botón de guardar ingreso */
/**
 * @description Estilo para el botón de guardar ingreso.
 */
.botonGuardarIngreso {
    border-radius: 9px;
    padding: 5px;
    border: 0px;
    background-color: #4A8970;
    color: white;
    margin-right: 10px;
    font-family: 'Quicksand';
}

/* Estilo para el botón de guardar ingreso en hover */
/**
 * @description Estilo para el botón de guardar ingreso cuando se coloca el ratón sobre él.
 */
.botonGuardarIngreso:hover {
    border-radius: 9px;
    padding: 5px;
    border: 0px;
    background-color: #335e4c;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

/* Estilo para el botón de cerrar formulario */
/**
 * @description Estilo para el botón de cerrar formulario.
 */
.botonCerrar {
    border-radius: 9px;
    padding: 5px;
    border: 0px;
    background-color: #919191;
    color: white;
    margin-right: 10px;
    font-family: 'Quicksand';
}

/* Estilo para el botón de cerrar formulario en hover */
/**
 * @description Estilo para el botón de cerrar formulario cuando se coloca el ratón sobre él.
 */
.botonCerrar:hover {
    border-radius: 9px;
    padding: 5px;
    border: 0px;
    background-color: #616161;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

/* Estilo para el formulario de gasto */
/**
 * @description Estilo para el formulario de gasto.
 */
.tituloFormularioGasto {
    padding-bottom: 10px;
    font-size: 18px;
    color: #ccbb3d;
    text-decoration: underline #ccbb3d;
}

.formularioGasto {
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    display: inline-block;
    width: fit-content;
}

/* Estilo para las etiquetas del formulario de gasto */
/**
 * @description Estilo para las etiquetas del formulario de gasto.
 */
.labelFormularioGasto {
    width: min-content;
    height: min-content;
    display: inline-block;
    margin-right: 10px;
    padding-top: 5px;
    margin-bottom: 15px;
}

/* Estilo para los campos del formulario de gasto */
/**
 * @description Estilo para los campos del formulario de gasto.
 */
.cuadroFormularioGasto {
    border-radius: 20px;
    text-align: left;
    padding-left: 5px;
    margin-right: 15px;
    border-color: #ccbb3d;
    box-shadow: none;
    outline: none;
    border-top: #ccbb3d;
    border-left: #ccbb3d;
    border-right: #ccbb3d;
    background-color: rgb(241, 241, 241);
    font-family: 'Quicksand';
}

/* Estilo para el botón de guardar gasto */
/**
 * @description Estilo para el botón de guardar gasto.
 */
.botonGuardarGasto {
    border-radius: 9px;
    padding: 5px;
    border: 0px;
    background-color: #EEE071;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    font-family: 'Quicksand';
}

/* Estilo para el botón de guardar gasto en hover */
/**
 * @description Estilo para el botón de guardar gasto cuando se coloca el ratón sobre él.
 */
.botonGuardarGasto:hover {
    border-radius: 9px;
    padding: 5px;
    border: 0px;
    background-color: #b2a126;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    cursor: pointer;
}

/* Estilo para el texto en color rojo */
/**
 * @description Estilo para el texto en color rojo.
 */
.rojo {
    color: red;
}