@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Estilo general para el cuerpo del documento */
/**
 * @description Estilo general para el cuerpo del documento.
 */
body {
    background: linear-gradient(60deg, #4D8C73, #EEE071);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    margin-top: 10%;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Quicksand';
}

/* Estilo para el logo */
/**
 * @description Estilo para el logo de la aplicación.
 */
img {
    width: 55%;
    align-content: center;
    padding: 30px;
}

/* Estilo para el contenedor del formulario de registro */
/**
 * @description Estilo para el contenedor del formulario de registro.
 */
.formularioRegistro {
    background-color: white;
    align-items: center;
    align-content: center;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

/* Estilo para los campos del formulario */
/**
 * @description Estilo para los campos del formulario de registro.
 */
.formulario {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

/* Estilo para la primera columna del formulario */
/**
 * @description Estilo para la primera columna del formulario.
 */
.columna1 {
    display: grid;
    margin: 10px;
}

/* Estilo para la segunda columna del formulario */
/**
 * @description Estilo para la segunda columna del formulario.
 */
.columna2 {
    display: grid;
    margin: 10px;
}

/* Estilo para las etiquetas y los campos de entrada */
/**
 * @description Estilo para las etiquetas y los campos de entrada.
 */
label, input {
    margin: 5px;
    margin-right: 30px;
    border-radius: 5px;
    font-family: 'Quicksand';
}

/* Estilo para los campos de entrada */
/**
 * @description Estilo para los campos de entrada en el formulario.
 */
input {
    border: 1px solid #4D8C73;
    padding: 3px;
}

/* Estilo para el contenedor del botón */
/**
 * @description Estilo para el contenedor del botón de registro.
 */
.divboton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/* Estilo para el botón de registro */
/**
 * @description Estilo para el botón de registro.
 */
button {
    padding: 10px;
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    border: 2px solid #335e4c;
    color: #335e4c;
    background-color: rgba(255, 255, 255, 0.495);
    font-family: 'Quicksand';
}

/* Estilo para el botón de registro en hover */
/**
 * @description Estilo para el botón de registro cuando se coloca el ratón sobre él.
 */
button:hover {
    padding: 10px;
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    border: 2px solid #335e4c;
    color: #335e4c;
    background-color: rgba(255, 255, 255, 0.329);
}

/* Estilo para el pie de página */
/**
 * @description Estilo general para el pie de página.
 */
footer {
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    font-family: 'Quicksand';
}
